body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    
}

main{
    flex-grow: 1;
}

/* pagina inicial */
/*nav*/

.anchoMegaMenu{
    width: 99.88%!important;
} 


.navbar .megamenu{ 
    padding: 5px; /*1rem*/
}



.dropdown-menu li a{  
    color: gray;
    padding: 5px 10px; /*.5em 1em*/
    font-size: 10px;
    
}


.fondoNav {
    background-color: #ffffff;
}

.tamanioLogoNav{
    width: 50px;
    height: 55px;
}

.evitarDesbordeNav{
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow-x: hidden;
    
}


/*baner*/

.tamanioLetraBanerTitulo{
    font-size: 17px;
}

.tamanioLetraBanerSubtitulo{
    font-size: 12px;
}

.margenTituloBaner{
    margin: 0px 0px 5px 0px;
}

.margenSubtituloBaner{
    margin: 0px 20px 0px 0px;
}

.paddingTituloBaner{
    padding: 0px 20px 0px 0px;
}

.fuenteLetraTitulo{
    font-family: 'Montserrat Alternates', sans-serif;
}

.fuenteLetraSubtitulo{
    font-family: 'Source Code Pro', monospace;
}

.imgNoticiaP{
    width: 100%;
    height: 150px;
    object-fit: cover; 
}

.imgNoticiaS{
    width: 100%;
    height: 60px;
    object-fit: cover; 
}


/* historia */
.imgHistoria{
    width: 100%;
    margin: 0px 0px 30px 0px;
    box-shadow: 7px 7px 0px 0px #9e449581 ;
    
}

.tamanioLetraTituloHistoria{
    font-size: 22px;
}

.tamanioLetraHistoria{
    font-size: 14px;
}

.lineaPequenia{
    width: 20%;
    border: 2px solid #2b7cb3;
    margin: 4px 0px 10px 0px;
}

.paddingHistoria{
    padding: 0px 0px 0px 0px;
}

/* Acerca de*/
/*cards */

/* .fondoBlanco {
    background-color: #ffffff;
} */

.border{
    --bs-border-color: #2b7cb3;
}

.letraColorCardMVVO {
    color: #2b7cb3 ;
}


.tamanioLetraCard {
    font-size: 8px;
}

/* .fondoCardMVVO1{
    background-color: #9e44958c;
    
} */
.fondoCardMVVO{
    background-color: #2b7db334;
    
}

.paddingCards {
    padding: 8px;
}

.paddingCardsMVVO{
    padding: 16px 4px;
}

.paddingImgCard {
    padding: 8px;
}

.paddingTituloCard {
    padding: 0px 0px 4px 0px;
}

.margenCardsMVVO{
    margin: 2px 5px;
}

.imgCard{
    width: 50px;
    height: 50px;
}


/*quienes somos*/

.fondoQuienesSomos {
    background-image: url(../imagenes/quienes-somos/quienes-somos.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0px -0px;
    object-fit: contain; 
    
}

.espacioParrafo {
    padding: 100px 20px;
    margin: 0px;
}

.tamanioLetraQS {
    font-size: 20px;
}

/* mision vision valores objetivos*/

.imgMVVO {
    width: 100%;
    height: 250px;
    object-fit: cover;
    object-position: -20px 0px;
}

.tamanioLetraMVVO {
    font-size: 14px;
}

.paddingMVVO {
    padding: 5px 10px;
}

.tamanioCardCarousel{
    width: 100%;
    height: 100%;
}

/* footer */

.tamanioLogoFooter{
    width: 130px;
    height: 135px;
}

.fondoFooter{
    background-color: #9e4495;
}

.letraEnlace{
    color: #ffffff;
    text-decoration: none;
}

.iconsCarousel .carousel-control-next{
    justify-content: end!important;
    
} 
.iconsCarousel .carousel-control-prev {
    justify-content: start!important;
    
}

.colorDetalles{
    color: #2b7db3;
}




/*pagina vinculacion, comunicacion, administracion y mentoria y formacion*/
/*Baner comision*/
.fondoBanerComision{
    background-image: url(../imagenes/comisiones/banerPages1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0px 0px;
    object-fit: contain;
    width: 100%;
    height: 200px; 
}

.fondoColorTransparente{
    background-color: rgba(158, 68, 149, 0.6);
    width: 100%;
    height: 100%;
}

.fondoColorSubcomisiones{
    background-color: rgba(43, 124, 179, 0.3);
}

.letraSubcomisiones{
    font-size: 10px;
}

.imgObjetivosComisiones{
    width: 100%;
    height: 250px;
    object-fit: cover;
    object-position: 0px 0px;
}

/*pagina fundadoras*/
.ordenCardsFundadoras{
    display: flex;
    justify-content: center;
}

.largoCardFundadoras{
    width: 190px;
    height: 280px;
}

.imgFundadoras{
    object-fit:cover;
    height: 70%;
}

/*iconos*/

.tamanioIcono{
    width: 50px;
    height: 50px;
}

/*pagina contactos*/
.tamanioLetraContactos{
    font-size: 14px;
}

.evitarDesbordeMapContactos{
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow-x:scroll;
}


@media(max-width:899px){

    .navbar.fixed-top .navbar-collapse, .navbar.sticky-top .navbar-collapse{
        overflow-y: auto;
        max-height: 90vh;
        margin-top:10px;
    }
}

@media(min-width: 900px) {

    /*nav*/
    .dropdown-menu li a{  
        color: gray;
        padding: 5px 10px; /*.5em 1em*/
        font-size: 14px;
        
    }

    .navbar .has-megamenu{
        position:static!important;
    }
    .navbar .megamenu{
        left:0; right:0; width:100%; margin-top:0;  
    }

    .tamanioLogoNav{
        width: 70px;
        height: 75px;
    }

    /*baner*/

    .tamanioLetraBanerTitulo{
        font-size: 45px;
    }
    
    .tamanioLetraBanerSubtitulo{
        font-size: 30px;
    }

    .margenTituloBaner{
        margin: 0px 0px 20px 0px;
    }
    
    .margenSubtituloBaner{
        margin: 0px 100px 0px 0px;
    }

    .paddingTituloBaner{
        padding: 0px 100px 0px 0px;
    }

    .imgNoticiaP{
        width: 100%;
        height: 350px;
        object-fit: cover;
    }
    
    .imgNoticiaS{
        width: 100%;
        height: 170px;
        object-fit: cover;
    }


    /*historia*/
    .imgHistoria{
        width: 55%;
        margin: 0px 30px 10px 0px;
        box-shadow: 13px 13px 0px 0px #9e449581 ;
        float: left; 
    }

    .tamanioLetraTituloHistoria{
        font-size: 40px;
    }

    .tamanioLetraHistoria{
        font-size: 23px;
    }
    
    .lineaPequenia{
        width: 9%;
        border: 3px solid #2b7cb3;
        margin: 4px 0px 10px 0px;
    
    }

    .paddingHistoria{
        padding: 0px 24px 0px 0px;
    }

    /*acerca de*/
    /*cards*/

    .paddingCards {
        padding: 20px 8px;
    }

    .paddingImgCard {
        padding: 16px;
    }

    .paddingTituloCard {
        padding: 0px 8px 8px 8px;
    }

    .margenCardsMVVO{
        margin: 0px 8px;
    }

    .tamanioLetraCard {
        font-size: 12px;
    }

    .imgCard{
        width: 80px;
        height: 80px;
    }

    /*quienes somos*/

    .fondoQuienesSomos {
        background-image: url(../imagenes/quienes-somos/quienes-somos.jpeg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: 0px -250px;
        object-fit: contain; 
        
    }

    .espacioParrafo {
        padding: 150px 180px;
        margin: 0px;
    }

    .tamanioLetraQS {
        font-size: 34px;
    }

    /* mision vision valores objetivos*/

    .imgMVVO {
        width: 100%;
        height: 250px;
        object-fit: cover;
        object-position: 0px -70px;
    }

    .tamanioLetraMVVO {
        font-size: 17px;
    }

    .paddingMVVO {
        padding: 16px 8px;
    }

    .tamanioCardCarousel{
        width: 100%;
        height: 100%;
    }

    /* footer */

    .listaDoble {
        column-count: 2;
    }

    /*pagina vinculacion, comunicacion, administracion y mentoria y formacion*/
    /*Baner comision*/

    .fondoBanerComision{
        background-image: url(../imagenes/comisiones/banerPages1.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: 0px -305px;
        object-fit: contain;
        width: 100%;
        height: 200px; 
    }

    .letraSubcomisiones{
        font-size: 20px;
    }

    /*pagina fundadoras*/
    .ordenCardsFundadoras{
        display: flex;
        justify-content: start;
    }

    /*pagina contactos*/
    .tamanioLetraContactos{
        font-size: 20px;
    }

}

@media(min-width: 600px) and (max-width: 899px) {

    /*nav*/

    .dropdown-menu li a{  
        color: gray;
        padding: 5px 10px; /*.5em 1em*/
        font-size: 14px;
        
    }

    .tamanioLogoNav{
        width: 65px;
        height: 70px;
    }

    /*baner*/
    
    .tamanioLetraBanerTitulo{
        font-size: 35px;
    }
    
    .tamanioLetraBanerSubtitulo{
        font-size: 20px;
    }

    .margenTituloBaner{
        margin: 0px 0px 20px 0px;
    }
    
    .margenSubtituloBaner{
        margin: 0px 50px 0px 0px;
    }

    .paddingTituloBaner{
        padding: 0px 50px 0px 0px;
    }

    .imgNoticiaP{
        width: 100%;
        height: 250px;
        object-fit: cover; 
    }
    
    .imgNoticiaS{
        width: 100%;
        height: 120px;
        object-fit: cover; 
    }

    /* historia */
    .imgHistoria{
        width: 100%;
        margin: 0px 0px 30px 0px;
        box-shadow: 13px 13px 0px 0px #9e449581 ;
        
    }

    .tamanioLetraTituloHistoria{
        font-size: 40px;
    }

    .tamanioLetraHistoria{
        font-size: 20px;
    }
    
    .lineaPequenia{
        width: 8%;
        border: 3px solid #2b7cb3;
        margin: 4px 0px 10px 0px;
    }

    /* acerca de */
    /*cards*/
    .paddingCards {
        padding: 30px 8px;
    }

    .paddingTituloCard {
        padding: 0px 8px 8px 8px;
    }

    .margenCardsMVVO{
        margin: 0px 7px;
    }

    .tamanioLetraCard {
        font-size: 11px;
    }

    /*quienes somos*/

    .fondoQuienesSomos {
        background-image: url(../imagenes/quienes-somos/quienes-somos.jpeg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: 0px -140px;
        object-fit: contain; 
      
    }

    .espacioParrafo {
        padding: 120px 150px;
        margin: 0px;
    }

    .tamanioLetraQS {
        font-size: 22px;
    }

    /* mision vision valores objetivos*/

    .imgMVVO {
        width: 100%;
        height: 250px;
        object-fit: cover;
        object-position: 0px -70px;
    }

    .tamanioLetraMVVO {
        font-size: 16px;
    }

    /* footer */

    .listaDoble {
        column-count: 2;
    }

    /*pagina vinculacion, comunicacion, administracion y mentoria y formacion*/
    /*Baner comision*/
    .fondoBanerComision{
        background-image: url(../imagenes/comisiones/banerPages1.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: 0px -130px;
        object-fit: contain;
        width: 100%;
        height: 200px; 
    }

    .letraSubcomisiones{
        font-size: 14px;
    }

    .imgObjetivosComisiones{
        width: 100%;
        height: 180px;
        object-fit: cover;
        object-position: 0px -40px;
    }

    /*pagina fundadoras*/
    .ordenCardsFundadoras{
        display: flex;
        justify-content: start;
    }

    /*pagina contactos*/
    .tamanioLetraContactos{
        font-size: 18px;
    }
}

@media(min-width:400px) and (max-width:600px) {

    /*nav*/
    .dropdown-menu li a{  
        color: gray;
        padding: 5px 10px; /*.5em 1em*/
        font-size: 12px;
        
    }

    .tamanioLogoNav{
        width: 60px;
        height: 65px;
    }
    
    .tamanioLetraBanerTitulo{
        font-size: 24px;
    }
    
    .tamanioLetraBanerSubtitulo{
        font-size: 18px;
    }

    .margenTituloBaner{
        margin: 0px 0px 0px 0px;
    }
    
    .margenSubtituloBaner{
        margin: 0px 25px 0px 0px;
    }

    .paddingTituloBaner{
        padding: 0px 25px 0px 0px;
    }

    .imgNoticiaP{
        width: 100%;
        height: 200px;
        object-fit: cover; 
    }
    
    .imgNoticiaS{
        width: 100%;
        height: 100px;
        object-fit: cover; 
    }

    /* historia */
    .imgHistoria{
        width: 100%;
        margin: 0px 0px 30px 0px;
        box-shadow: 13px 13px 0px 0px #9e449581 ;
        
    }

    .tamanioLetraTituloHistoria{
        font-size: 32px;
    }

    .tamanioLetraHistoria{
        font-size: 16px;
    }
    
    .lineaPequenia{
        width: 15%;
        border: 2px solid #2b7cb3;
        margin: 4px 0px 10px 0px;
    }

    /*acerca de*/
    /*cards*/

    .margenCardsMVVO{
        margin: 2px 6px;
    } 

    .tamanioLetraCard {
        font-size: 10px;
    }

    /*quienes somos*/

    .fondoQuienesSomos {
        background-image: url(../imagenes/quienes-somos/quienes-somos.jpeg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: 0px -50px;
        object-fit: contain; 
        
    }

    .tamanioLetraQS {
        font-size: 20px;
    }

    /* mision vision valores objetivos*/

    .imgMVVO {
        width: 100%;
        height: 250px;
        object-fit: cover;
        object-position: 0px -70px;
    }

    .tamanioLetraMVVO {
        font-size: 15px;
    }


    /*pagina vinculacion, comunicacion, administracion y mentoria y formacion*/
    /*Baner comision*/
    .fondoBanerComision{
        background-image: url(../imagenes/comisiones/banerPages1.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: 0px -20px;
        object-fit: contain;
        width: 100%;
        height: 200px; 
    }

    .letraSubcomisiones{
        font-size: 14px;
    }

    .imgObjetivosComisiones{
        width: 100%;
        height: 250px;
        object-fit: cover;
        object-position: 0px -40px;
    }

    /*pagina fundadoras*/
    .ordenCardsFundadoras{
        display: flex;
        justify-content: start;
    }

    /*pagina contactos*/
    .tamanioLetraContactos{
        font-size: 16px;
    }
    
}
