body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

main{
    flex-grow: 1;
}

/* pagina inicial */
/*nav*/

.fondoAzul {
    background-color: #011538;
}

.letraBlancaEnlace{
    color: #ffffff;
    text-decoration: none;
}


/*baner*/
.fondoBaner {
    background-image: url(../imagenes/baner/baner.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0px 0px;
    object-fit: contain;
    width: 100%;
    height: 250px;

}

.posicionTitulo {
    width: 75%;
}

/*cards */

.fondoBlanco {
    background-color: #ffffff;
}

.bordeAzul {
    border-color: #011538;
}

.letraAzul {
    color: #011538;
}

.tamanioLetraCard {
    font-size: 8px;
}

.paddingCards {
    padding: 8px;
}

.paddingImgCard {
    padding: 8px;
}

.paddingTituloCard {
    padding: 0px 0px 4px 0px;
}

/*quienes somos*/

.fondoQuienesSomos {
    background-image: url(../imagenes/quienes-somos/quienes-somos.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    object-fit: contain;
}

.espacioParrafo {
    padding: 20px 20px;
    margin: 0px;
}

.tamanioLetraQS {
    font-size: 14px;
}

/* mision vision valores objetivos*/

.imgMVVO {
    width: 100%;
    height: 250px;
    object-fit: cover;
    object-position: -20px 0px;
}

.tamanioLetraMVVO {
    font-size: 12px;
}

.paddingMVVO {
    padding: 5px 10px;
}

/* footer */

/* .listaMenu{
    column-count: 2;
} */


/*pagina vinculacion, comunicacion, administracion y mentoria y formacion*/
/*Baner comision*/
.fondoBanerComision{
    background-image: url(../imagenes/quienes-somos/quienes-somos.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0px 0px;
    object-fit: contain;
    width: 100%;
    height: 250px;
}

.fondoGris{
    background-color: #989DAF;
}

.letraSubcomisiones{
    font-size: 10px;
}

.imgObjetivosComisiones{
    width: 100%;
    height: 250px;
    object-fit: cover;
    object-position: 0px 0px;
}

/*pagina fundadoras*/
/*iconos*/

.tamanioIcono{
    width: 50px;
    height: 50px;
}


@media(min-width: 900px) {

    /*baner*/
    .fondoBaner {
        background-image: url(../imagenes/baner/baner.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: 0px -270px;
        object-fit: contain;
        width: 100%;
        height: 500px
    }

    .posicionTitulo {
        width: 25%;
    }

    /*cards*/

    .paddingCards {
        padding: 60px 8px;
    }

    .paddingImgCard {
        padding: 16px;
    }

    .paddingTituloCard {
        padding: 0px 8px 8px 8px;
    }

    .tamanioLetraCard {
        font-size: 12px;
    }

    /*quienes somos*/

    .espacioParrafo {
        padding: 20px 20%;
        margin: 0px;
    }

    .tamanioLetraQS {
        font-size: 20px;
    }

    /* mision vision valores objetivos*/

    .imgMVVO {
        width: 100%;
        height: 250px;
        object-fit: cover;
        object-position: 0px -70px;
    }

    .tamanioLetraMVVO {
        font-size: 17px;
    }

    .paddingMVVO {
        padding: 16px 8px;
    }

    /* footer */

    .listaMenu {
        column-count: 2;
    }

    /*pagina vinculacion, comunicacion, administracion y mentoria y formacion*/
    /*Baner comision*/
    

    .letraSubcomisiones{
        font-size: 20px;
    }

}

@media(min-width: 600px) and (max-width: 899px) {

    /*baner*/
    .fondoBaner {
        background-image: url(../imagenes/baner/baner.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: 0px -70px;
        object-fit: contain;
        width: 100%;
        height: 400px;

    }

    .posicionTitulo {
        width: 50%;
    }

    /*cards*/
    .paddingCards {
        padding: 30px 8px;
    }

    .paddingImgCard {
        padding: 16px;
    }

    .paddingTituloCard {
        padding: 0px 8px 8px 8px;
    }

    .tamanioLetraCard {
        font-size: 12px;
    }

    /*quienes somos*/

    .tamanioLetraQS {
        font-size: 18px;
    }

    /* mision vision valores objetivos*/

    .imgMVVO {
        width: 100%;
        height: 250px;
        object-fit: cover;
        object-position: 0px -70px;
    }

    .tamanioLetraMVVO {
        font-size: 16px;
    }

    /* footer */

    .listaMenu {
        column-count: 2;
    }

    /*pagina vinculacion, comunicacion, administracion y mentoria y formacion*/
    /*Baner comision*/
    

    .letraSubcomisiones{
        font-size: 14px;
    }

    .imgObjetivosComisiones{
        width: 100%;
        height: 180px;
        object-fit: cover;
        object-position: 0px -40px;
    }
}

@media(min-width:400px) and (max-width:600px) {

    .fondoBaner {
        background-image: url(../imagenes/baner/baner.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: 0px -30px;
        object-fit: contain;
        width: 100%;
        height: 300px;

    }

    .posicionTitulo {
        width: 50%;
    }

    /*cards*/

    .paddingImgCard {
        padding: 16px;
    }


    .tamanioLetraCard {
        font-size: 12px;
    }

    /*quienes somos*/

    .tamanioLetraQS {
        font-size: 16px;
    }

    /* mision vision valores objetivos*/

    .imgMVVO {
        width: 100%;
        height: 250px;
        object-fit: cover;
        object-position: 0px -70px;
    }

    .tamanioLetraMVVO {
        font-size: 14px;
    }

    /*pagina vinculacion, comunicacion, administracion y mentoria y formacion*/
    /*Baner comision*/
    

    .letraSubcomisiones{
        font-size: 14px;
    }

    .imgObjetivosComisiones{
        width: 100%;
        height: 250px;
        object-fit: cover;
        object-position: 0px -40px;
    }
    
}